<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Over CD&E</h2>
                    <h3 class="section-subheading text-muted">
                      CD&E is de organisatie voor de Landmacht om samen met de kenniscentra, industrie en kennispartners buiten Defensie snel en middels experimenten innovaties te ontwikkelen, zodat eenheden van de Landmacht op missies dominant en relevant zijn en blijven.
                      Met name het midden en kleinbedrijf beschikt over een ongekend innovatief vemogen.
                      Dat vermogen willen wij voor de Landmacht ontsluiten.
                    </h3>
                    <p class="text-muted">
                      Een samenvatting van alle intiatieven in de Defensie organisatie leest u in het innovatiemagazine NPRGRSS.
                      <a class="page-scroll btn btn-xl" href="img/header/{{ site.data.template.intro.intro-button }}" target="_blank">Download Innovatiemagazine Defensie</a>
                    </p>
                </div>
            </div>

        </div>
    </section>
