<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Diensten</h2>
                    <h3 class="section-subheading text-muted">
                      Modernisering zit in de genen van de Koninklijke Landmacht, innovaties werden van oudsher ook gedreven door de vraag van legers.
                      Deze aanpak is toe aan verbetering, de Koninklijke Landmacht wil meer kort cyclisch moderniseren.
                      Binnen de CD&E-methodiek ontwikkelen we daarom de diensten Verbinden, Versnellen en Vermarkten.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Verbinden</h4>
                    <p class="text-muted">
                      Voor CD&E liggen de oplossingen bij externe partners zoals MKB, kennisinstituten en start-ups.
                      Samenwerken aan gemeenschappelijke belangen is daarin een belangrijk uitgangspunt.
                      Door de vragen in de Landmacht-organisatie te koppelen aan het oplossingsvermogen van externe partijen ontstaan de military capabilities van de toekomst.
                      De CD&E-methodiek creeert ook toegang tot de juiste afdelingen en functionarissen binnen de organisatie wat bijdraagt aan netwerk vol diversiteit.

                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-fast-forward fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Versnellen</h4>
                    <p class="text-muted">
                      Overheidsorganisaties als het Ministerie van Defensie dient transparant, non-discriminatief en verantwoord om te gaan met de opgedragen taken en toebedeelde middelen van de maatschappij.
                      De daaruit volgende bureaucratische organisatie draagt zorg voor het hoog houden van de sociaal-maatschappelijke waarden.
                      Soms slaan regels en procedures door en zorgen voor vertragingen.
                      CD&E heeft het vertrouwen binnen de organisatie om verantwoord en doelgericht bij te dragen aan een moderne Landmacht.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Vermarkten</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
